<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.doctor.stars.biz.mapper.RsAuthorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cc.doctor.stars.biz.model.RsAuthor">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="rs_type" property="rsType" />
        <result column="nick_name" property="nickName" />
        <result column="description" property="description" />
        <result column="avatar_url" property="avatarUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uid, rs_type, nick_name, description, avatar_url
    </sql>

</mapper>
